@model IEnumerable<DentistAppointmentManager.Models.Appointments>

@{
    ViewBag.Title = "Billing";
}
<form style="padding-top:7px;" action="@Url.Action("generateBill", "Billing")" method="post">

    <div>
        <div style="background-color:grey;height:27px">
            <table width="100%">
                <tr>
                    <td width="15%" align="left">
                        <input type="button" style="padding-top:2px;border-radius:6px;width:100px;"
                               onclick="location.href = '@Url.Action("Desktop", "Home")'" value="Back" />
                    </td>
                    <td width="69%" align="center">
                        <b style="font-size:18px;color:white"> Patients</b>
                    </td>
                    <td width="8%" align="right">
                        <input type="submit" style="padding-top:2px;border-radius:6px;width:100px;"
                               value="Bill" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayName("Patient ")
            </th>
            <th>
                Dentist
            </th>
            <th>
                Location
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.CheckBox("Patient", new { id = item.appointmentID, value = item.appointmentID})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.patients.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dentists.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.locations.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endTime)
                </td>

            </tr>
        }
    </table>
</form>